<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login candidato</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 h-screen flex justify-center items-center">
    <form th:action="@{/candidate/signIn}"
          class="flex gap-24"
          method="post"
    >
        <div class="text-white max-w-80 text-6xl flex items-center justify-center text-center">
            Gestão de Vagas
        </div>
        <div class="flex flex-col space-y-8 bg-zinc-950 rounded-md p-20">
            <input type="text"
                   name="username"
                   class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-2 focus:outline-none focus:ring-green-600 focus:ring-2"
                   placeholder="Usuário"
            />
            <input type="password"
                   name="password"
                   class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-2 focus:outline-none focus:ring-green-600 focus:ring-2"
                   placeholder="Senha"
            />
            <button type="submit"
                class="bg-green-900 w-96 p-2 rounded text-white hover:bg-green-700 text-lg"
            >
                Entrar
            </button>
            <p class="text-red-400"
               th:if="${error_message}"
               th:text="${error_message}"
            ></p>
            <a href=""
               class="text-green-700 block text-center hover:text-green-600 underline underline-offset-2">
                Crie sua conta
            </a>
        </div>
    </form>
</body>
</html>