<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro de Empresa</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-sky-950 h-screen flex justify-center items-center">
<form th:action="@{/company/create}"
      th:object="${company}"
      class="flex gap-24"
      method="post"
      id="submitForm"
>
    <div class="flex flex-col space-y-8 bg-zinc-950 rounded-md p-10">
        <h2 class="text-white text-lg text-center">
            Registre sua empresa gratuitamente!
        </h2>
        <div class="flex flex-row gap-10">
            <input type="text"
                   th:field="*{username}"
                   name="username"
                   class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-2 focus:outline-none focus:ring-green-600 focus:ring-2"
                   placeholder="Digite seu usuário"
            />
            <input type="text"
                   th:field="*{name}"
                   name="name"
                   class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-2 focus:outline-none focus:ring-green-600 focus:ring-2"
                   placeholder="Digite seu nome"
            />
        </div>

        <div class="flex flex-row gap-10">
            <input type="email"
                   th:field="*{email}"
                   name="email"
                   class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-2 focus:outline-none focus:ring-green-600 focus:ring-2"
                   placeholder="E-mail"
            />
            <input type="text"
                   th:field="*{website}"
                   name="website"
                   class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-2 focus:outline-none focus:ring-green-600 focus:ring-2"
                   placeholder="Digite seu website"
            />
        </div>

        <div class="flex flex-row gap-10">
            <input type="password"
                   th:field="*{password}"
                   name="password"
                   id="password"
                   class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-2 focus:outline-none focus:ring-green-600 focus:ring-2"
                   placeholder="Senha"
            />
            <input type="password"
                   name="confirmPassword"
                   id="confirmPassword"
                   class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-2 focus:outline-none focus:ring-green-600 focus:ring-2"
                   placeholder="Confirme sua senha"
            />
        </div>

        <textarea name="description"
                  th:field="*{description}"
                  class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-2
                  focus:outline-none focus:ring-green-600 focus:ring-2 w-full"
                  placeholder="Digite uma breve descrição sobre sua empresa"></textarea>
        <button type="submit"
                class="bg-green-700 w-full p-2 rounded text-white hover:bg-green-600 text-lg duration-400"
        >
            Cadastre-se
        </button>
        <p class="text-red-400" th:if="${error_message}" th:text="${error_message}" ></p>
        <p class="text-red-400 hidden" id="password_error">
            As senhas não conferem.
        </p>
        <a href="/company/login"
           class="text-green-700 block text-center hover:text-green-600 underline underline-offset-2 duration-400">
            Já tem uma conta? Faça login!
        </a>
    </div>
    <div class="text-white max-w-80 text-6xl flex items-center justify-center text-center">
        Gestão de Vagas
    </div>
</form>
</body>

<script>
    document.getElementById("submitForm").addEventListener("submit", (event) => {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;

        if(password !== confirmPassword) {
            document.getElementById("password_error").classList.remove("hidden")
            event.preventDefault()
        }
    })
</script>
</html>