<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aplicação Thymeleaf</title>
</head>

<body>

<p th:text="${mensagem}"></p>

<form method="post" th:action="@{/create}">
    <h2>Nome do candidato:</h2>
    <input type="text" name="nome">
    <button type="submit">Cadastrar candidato</button>
</form>

<form method="post" th:action="@{/createPerson}" th:object="${pessoa}">
    <h2>Nome do candidato:</h2>
    <input type="text" name="nome">

    <h2>Email do candidato:</h2>
    <input type="text" name="email">

    <h2>Username do candidato:</h2>
    <input type="text" name="username">

    <button type="submit">Cadastrar candidato</button>
</form>

</body>
</html>